header {
    height: 60px;
    width: 100%;
    padding: 2px 2px 2px 2px;
    border-bottom: solid black 4px;
    margin-bottom: 30px;
    position: relative;
    text-align: center;
}
footer {
    height: 10px;
    width: 100%;
    border-top: solid black 1px;
    font-size: 14px;
    text-align: center;
}
fieldset {
    border: none;
}
legend {
    font-size: x-large;
    padding: 10px 0px 10px 0px;
    text-decoration: underline;
}

select {
    width: 40px;
    
}

body {
    background-image: linear-gradient(rgb(181, 244, 255),rgb(188, 255, 188),rgb(255, 255, 185),rgb(255, 229, 182));
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    margin: 30px;
    gap: 10px;
    
   border-image-width: auto;
   align-content: center;
}



.grid-item {
    text-align: center;
    border-radius: 25px;
    }

.grid-item:hover{
        transform: scale(1.2);
    }
