header {
    height: 80px;
    width: 100%;
    padding: 2px 2px 2px 2px;
    margin-bottom: 30px;
    position: relative;
    text-align: center;
    background: rgba(68, 102, 255, 0.6);
    border-style: solid double;
    
}



footer {
    height: 10px;
    width: 100%;
    border-top: solid black 1px;
    font-size: 14px;
    text-align: center;
}
fieldset {
    border: none;
}
legend {
    font-size: x-large;
    padding: 10px 0px 10px 0px;
    text-decoration: underline;
}

select {
    width: 40px;
    
}

body {
    background-image: linear-gradient(rgb(71, 159, 241),rgb(161, 199, 255),rgb(255, 255, 255));
    margin: 0%;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    margin: 30px;
    gap: 10px;
    
   border-image-width: auto;
   align-content: center;
}



.grid-item {
    text-align: center;
    border-radius: 25px;
    }


.potentialTag{
    text-align: center;
    text-decoration: underline;
    height: 50px;
    font-size: 30px;
    }

.overviewTag{
    text-align: center;
    text-decoration: underline;
    height: 70px;
    font-size: 30px;
}   

.overviewText{
    text-align: center;
    font-size: 20px;
    height: 100px;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

.enterBelow{
    text-align: center;
    font-size: 20px;
    height: 100px; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.curriculumHeader{
    text-align: center;
    text-decoration: underline;
    height: 20px;
    font-size: 40px;
}

.selectBox:hover{
    transform: scale(1.2);
}

.GPAGridContainer{
    display: grid;
    grid-template-columns: auto atuo;
}

.GPABoxesIndividual{
    text-align: center;
    height: 30px;
}


.GPAInputBox{
    width: 50px;
}

.endButtons{
    text-align: center;
}

.justify-text {
    text-align: justify;
    margin: auto 30vw 10vh 30vw;
}

.biggerP {
    font-size: 25px ;
}